
h1{
  font-family: 'Lobster', cursive;
  text-align: center;
}
h1.layer-name{
  color: white;
}
h3#curve1{
  position: absolute;
  left:40%;
  top: -200px;
  font-size: 2.5em;
}

.body-text{
  position: absolute;
  left: 400px;
}
.credit{
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 1em;
  text-align: left;
  position: absolute;
  top: 180px;
  left: 30px;

}
#home-credit{
  color: black;
}


/*Sections*/
#section1{
  background-image: url("../images/earth-print.jpg");
  background-size: cover;
}

.section{
    background-size: 100% auto;
}

/*Slides*/
#slide1-crust{
  background-image: url("../images/earth-crust-print.jpg");
  background-size: cover;
}

#slide1-mantle{
  background-image: url("../images/mantle-print.250jpg");
  background-size: cover;
}
#slide1-outer-core{
  background-image:url("../images/outer-core-print.jpg");
  background-size: cover;
}

#slide1-inner-core{
  background-image: url("../images/inner-core-print.jpg");
  background-size: cover;
}

.slide{
    background-size: 100% auto;
    background-color: #85adad;
}
